# API Backend URL
NEXT_PUBLIC_API_URL=http://localhost:4000

# App Frontend URL
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Cloudinary (opcional - solo si subes archivos desde el cliente)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=

# Build analysis (opcional - para analizar bundle)
# ANALYZE=true

